# ===================================================================
# tpRigToolkit-tools-controlrig requirements file
# ===================================================================

tpRigToolkit-core
tpRigToolkit-libs-controlrig