# ===================================================================
# tpRigToolkit-tools-controlrig requirements file
# ===================================================================

tpRigToolkit-core