# ===================================================================
# tpRigToolkit-tools-controlrig requirements file
# ===================================================================

Qt.py
tpRigToolkit-core
tpRigToolkit-libs-controlrig